[submodule "themes/tokyo-night"]
	path = themes/tokyo-night
	url = git@github.com:folke/tokyonight.nvim.git
[submodule "dark-mode-notify"]
	path = dark-mode-notify
	url = git@github.com:bouk/dark-mode-notify.git
